.kyo-medias {
  flex: 1 0 auto;
  margin: 0 20px; }

.n-file-list {
  display: block; }

.n-file-list > div {
  float: left;
  width: 200px;
  margin: 0 !important; }

.n-file-list-item__preview {
  color: rgba(20, 25, 37, 0.15);
  font-size: 3vw;
  background-color: rgba(20, 25, 37, 0.1); }

.n-file-list-item__preview,
.n-file-list-item__remove {
  border-radius: 5px; }

.n-file-list-item__name-inner {
  font-size: 14px; }

.n-file-list-item__meta-inner {
  font-size: 12px; }

.n-file-list-item__progress {
  background-color: rgba(20, 25, 37, 0.1); }

.kyo-medias .n-draggrid-item.n-current {
  background-color: rgba(142, 147, 159, 0.1); }

.kyo-medias .n-draggrid-item.n-selected {
  background-color: rgba(142, 147, 159, 0.1); }

.kyo-medias .n-draggrid-item.n-dragover {
  background-color: rgba(142, 147, 159, 0.2); }

.kyo-medias .n-draggrid-item.n-nodrop {
  background-color: rgba(244, 66, 87, 0.2); }

.kyo-medias .n-draggrid-item {
  overflow: hidden;
  width: 160px;
  margin: 10px;
  border-radius: 5px; }

.kyo-medias .n-draggrid-item .n-draggrid-item__select {
  margin: 0 auto 10px; }

.kyo-media-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%; }

.kyo-media-item__image {
  position: relative;
  flex: 1 1 auto;
  background: #dddfe2; }

.kyo-media-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.kyo-media-item__title {
  flex: 0 0 auto;
  padding: 10px 10px 0;
  text-align: center; }

.kyo-media-item__meta {
  flex: 0 0 auto;
  padding: 0 10px 5px;
  font-size: 12px;
  text-align: center;
  color: #777d8b; }

