@import "~nano-ui/src/root/vars";

.kyo-header > .grid > * {
    height: 50px;
}

.kyo-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
}

.kyo-logo img {
    display: block;
    width: 40px;
    height: auto;
}
