@import "~@kyoto/sass/vars";

.kyo-widget-headline textarea {
    appearance: none;
    resize: none;
    display: block;
    width: 100%;
    font-weight: 600;
    line-height: 1.4;
    //color: $color-primary;
    border: 0;
    background: transparent;
}

.kyo-widget-headline--h1 textarea {
    font-size: 36px;
}

.kyo-widget-headline--h2 textarea {
    font-size: 28px;
}

.kyo-widget-headline--h3 textarea {
    font-size: 20px;
}

.kyo-widget-headline--h4 textarea {
    font-size: 16px;
}

.kyo-widget-headline--h5 textarea {
    font-size: 14px;
}

.kyo-widget-headline--h6 textarea {
    font-size: 12px;
}

.kyo-widget-headline__tags {
    margin-bottom: 10px;
}

.kyo-widget-headline__tag {
    color: $color-gray-30;
    display: inline-block;
    width: 28px;
    padding: 4px 0;
    text-align: center;
    border-radius: $md-radius;
}

.kyo-widget-headline__tag:hover {
    background: $color-gray-10;
}

.kyo-widget-headline__tag:not(:last-child) {
    margin-right: 3px;
}

.kyo-widget-headline__tag.is-active {
    font-weight: bold;
    color: $color-black;
}
