@import "./base";

$--media-steps: (
    'xs': '(min-width: 576px)',
    'sm': '(min-width: 768px)',
    'md': '(min-width: 992px)',
    'lg': '(min-width: 1200px)',
    'xl': '(min-width: 1440px)'
) !default;

@mixin media($suffix: '') {

    @if $suffix == '' {
        $suffix: $suffix !global;
        @content;
    }

    @if $suffix == '' {
        @each $suffix, $breakpoint in $--media-steps {
            @media #{$breakpoint} {
                $suffix: \@ + $suffix !global;
                @content;
            }
        }
    }

    @if $suffix != '' {
        @media #{map-get($--media-steps, $suffix)} {
            $suffix: \@ + $suffix !global;
            @content;
        }
    }

}
