@import "../vars";

[v-cloak] {
    display: none;
}

::selection {
    background: rgba($color-primary, 0.15);
}

* {
    outline: none !important;
}

html, body {
    font-size: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $color-black;
    background-color: $color-background;
    background-size: cover;
    background-position: center center;
}

div, a {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 3.2rem
}

h2 {
    font-size: 2.4rem
}

h3 {
    font-size: 1.8rem
}

h4 {
    font-size: 1.3rem
}

h5 {
    font-size: 1.0rem
}

h6 {
    font-size: 0.9rem
}

p {
    color: $color-black;
    font-size: 1.0rem;
}

th {
    font-weight: normal;
}

.kyo-text--primary {
    color: $color-primary;
}

.kyo-text--secondary {
    color: $color-secondary;
}

.kyo-text--success {
    color: $color-success;
}

.kyo-text--warning {
    color: $color-warning;
}

.kyo-text--danger {
    color: $color-danger;
}

.kyo-text--info {
    color: $color-info;
}

.kyo-container {
    max-width: 1280px;
    margin: 0 auto;
}

