@import "~nano-ui/src/root/vars";

.kyo-installer {
    width: 100%;
}

@include media('md') {
    .kyo-installer {
        overflow: hidden;
        height: 100vh;
    }
}

.kyo-installer__background {
    position: relative;
    border-bottom: 1px solid $--color-gray-10;
    height: 100%;
    min-height: 160px;
}

@include media('md') {
    .kyo-installer__background {
        border-bottom: none;
        border-right: 1px solid $--color-gray-10;
    }
}

.kyo-installer__background img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
}

.kyo-installer__introduction {
    padding-bottom: 60px;
}

.kyo-installer__introduction h1 {
    color: $--color-black;
    font-size: 38px;
}

.kyo-installer__formular {
    background-color: $--color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@include media('md') {
    .kyo-installer__formular {
        flex: 1 1 auto;
        overflow-y: auto;
    }
}

.kyo-installer__formular .kyo-installer__body {
    flex: 1 1 auto;
    max-width: 720px;
    margin: auto;
    padding: 30px 30px 0;
}

@include media('md') {
    .kyo-installer__formular .kyo-installer__body {
        padding: 120px 60px 90px;
    }
}

.kyo-installer__formular .n-form-item {
    margin-bottom: 30px;
}

.kyo-installer__formular .n-form-item__label label {
    color: $--color-black;
    font-size: 15px;
}

.kyo-installer__formular .n-input {
    background: $--color-gray-05;
    border-width: 0;
    transition: background $transition-medium;
}

.kyo-installer__formular .n-input:hover,
.kyo-installer__formular .n-input:focus {
    background: $--color-gray-10;
}

.kyo-installer__formular .n-input:focus {
    //border-color: $--color-primary;
}

.kyo-installer__formular .n-button.n-button--secondary:not(.n-button--link) {
    color: $color-primary;
    background: rgba($color-primary, 0.15);
    border-width: 0;
    transition: background $transition-medium;
}

.kyo-installer__formular .n-button.n-button--secondary:not(.n-button--link):hover,
.kyo-installer__formular .n-button.n-button--secondary:not(.n-button--link):focus {
    background: rgba($color-primary, 0.25);
}

.kyo-installer__status {
    padding: 20px 60px 40px;
}
