@import "~nano-ui/src/root/vars";

.kyo-installer {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.kyo-installer__background {
    position: relative;
    background-image: url('../img/space-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kyo-installer__background img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
}

.kyo-installer__introduction {
    padding: 120px 60px 20px;
}

.kyo-installer__introduction h1 {
    color: $--color-primary;
    font-size: 32px;
}

.kyo-installer__formular {
    background-color: $--color-white;
    overflow-y: auto;
}

.kyo-installer__formular .n-tabs__header-inner {
    padding: 0 60px;
}

.kyo-installer__formular .n-tabs__body {
    padding: 30px 60px;
}

.kyo-installer__formular .n-form-item {
    margin-bottom: 25px;
}

.kyo-installer__status {
    padding: 20px 60px 40px;
}
