@import "~nano-ui/src/root/vars";

.kyo-status {
    position: relative;
    display: block;
    padding: 10px 0 10px 25px;
}

.kyo-status .kyo-status__state {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 500px;
    background-color: $--color-gray-50;
    transform: translateY(-50%);
    transition: background 300ms ease;
}

.kyo-status.kyo-status--success .kyo-status__state {
    background-color: $--color-success;
}

.kyo-status.kyo-status--danger .kyo-status__state {
    background-color: $--color-danger;
}

.kyo-status .kyo-status__title {
    //
}

.kyo-status .kyo-status__info span {
    color: $--color-gray-60 !important;
    font-size: 12px;
}
