$color-white:           #ffffff;
$color-black:           #090b10;

$color-light:           #f5f7ff;
$color-dark:            #151822;

$color-white-light:         lighten($color-white, 3%);
$color-white-lighter:       lighten($color-white, 6%);

$color-white-dark:          darken($color-white, 3%);
$color-white-darker:        darken($color-white, 6%);

$color-black-light:         lighten($color-black, 3%);
$color-black-lighter:       lighten($color-black, 6%);

$color-black-dark:          darken($color-black, 3%);
$color-black-darker:        darken($color-black, 6%);

$color-darkmix:             #171d38;
$color-lightmix:            #fafafa;

$color-gray-05:         mix($color-darkmix, $color-lightmix, 0.05 * 100%);
$color-gray-10:         mix($color-darkmix, $color-lightmix, 0.10 * 100%);
$color-gray-15:         mix($color-darkmix, $color-lightmix, 0.15 * 100%);
$color-gray-20:         mix($color-darkmix, $color-lightmix, 0.20 * 100%);
$color-gray-25:         mix($color-darkmix, $color-lightmix, 0.25 * 100%);
$color-gray-30:         mix($color-darkmix, $color-lightmix, 0.30 * 100%);
$color-gray-35:         mix($color-darkmix, $color-lightmix, 0.35 * 100%);
$color-gray-40:         mix($color-darkmix, $color-lightmix, 0.40 * 100%);
$color-gray-45:         mix($color-darkmix, $color-lightmix, 0.45 * 100%);
$color-gray-50:         mix($color-darkmix, $color-lightmix, 0.50 * 100%);
$color-gray-55:         mix($color-darkmix, $color-lightmix, 0.55 * 100%);
$color-gray-60:         mix($color-darkmix, $color-lightmix, 0.60 * 100%);
$color-gray-65:         mix($color-darkmix, $color-lightmix, 0.65 * 100%);
$color-gray-70:         mix($color-darkmix, $color-lightmix, 0.70 * 100%);
$color-gray-75:         mix($color-darkmix, $color-lightmix, 0.75 * 100%);
$color-gray-80:         mix($color-darkmix, $color-lightmix, 0.80 * 100%);
$color-gray-85:         mix($color-darkmix, $color-lightmix, 0.85 * 100%);
$color-gray-90:         mix($color-darkmix, $color-lightmix, 0.90 * 100%);
$color-gray-95:         mix($color-darkmix, $color-lightmix, 0.95 * 100%);

$color-primary:         #4e7bff;
$color-secondary:       $color-gray-40;

$color-success:         #3ed786;
$color-warning:         #ffac2f;
$color-danger:          #fd2f51;
$color-info:            #37C4EF;

$color-background:      #f8f8fa;

$xs-radius:                 2px;
$sm-radius:                 2px;
$md-radius:                 3px;
$lg-radius:                 5px;
$xl-radius:                 8px;

$color-white-light:         lighten($color-white, 5%) !default;
$color-white-lighter:       lighten($color-white, 10%) !default;

$color-white-dark:          darken($color-white, 5%) !default;
$color-white-darker:        darken($color-white, 10%) !default;

$color-black-light:         lighten($color-black, 5%) !default;
$color-black-lighter:       lighten($color-black, 10%) !default;

$color-black-dark:          darken($color-black, 5%) !default;
$color-black-darker:        darken($color-black, 10%) !default;

$color-light-light:         lighten($color-light, 5%) !default;
$color-light-lighter:       lighten($color-light, 10%) !default;

$color-light-dark:          darken($color-light, 5%) !default;
$color-light-darker:        darken($color-light, 10%) !default;

$color-dark-light:          lighten($color-dark, 5%) !default;
$color-dark-lighter:        lighten($color-dark, 10%) !default;

$color-dark-dark:           darken($color-dark, 5%) !default;
$color-dark-darker:         darken($color-dark, 10%) !default;

$color-primary-light:       lighten($color-primary, 5%) !default;
$color-primary-lighter:     lighten($color-primary, 10%) !default;

$color-primary-dark:        darken($color-primary, 5%) !default;
$color-primary-darker:      darken($color-primary, 10%) !default;

$color-secondary-light:     lighten($color-secondary, 5%) !default;
$color-secondary-lighter:   lighten($color-secondary, 10%) !default;

$color-secondary-dark:      darken($color-secondary, 5%) !default;
$color-secondary-darker:    darken($color-secondary, 10%) !default;

$color-success-light:       lighten($color-success, 5%) !default;
$color-success-lighter:     lighten($color-success, 10%) !default;

$color-success-dark:        darken($color-success, 5%) !default;
$color-success-darker:      darken($color-success, 10%) !default;

$color-warning-light:       lighten($color-warning, 5%) !default;
$color-warning-lighter:     lighten($color-warning, 10%) !default;

$color-warning-dark:        darken($color-warning, 5%) !default;
$color-warning-darker:      darken($color-warning, 10%) !default;

$color-danger-light:        lighten($color-danger, 5%) !default;
$color-danger-lighter:      lighten($color-danger, 10%) !default;

$color-danger-dark:         darken($color-danger, 5%) !default;
$color-danger-darker:       darken($color-danger, 10%) !default;

$color-info-light:          lighten($color-info, 5%) !default;
$color-info-lighter:        lighten($color-info, 10%) !default;

$color-info-dark:           darken($color-info, 5%) !default;
$color-info-darker:         darken($color-info, 10%) !default;

$color-background-light:    lighten($color-background, 2.5%) !default;
$color-background-lighter:  lighten($color-background, 5%) !default;

$color-background-dark:     darken($color-background, 5%) !default;
$color-background-darker:   darken($color-background, 10%) !default;

$color-shadow:          mix($color-black, $color-primary, 50%);

$form: (
    'xs': (
        'size': 24px,
        'font': 11px,
        'radius': $xs-radius,
        'ratio': 0.40,
    ),
    'sm': (
        'size': 28px,
        'font': 12px,
        'radius': $sm-radius,
        'ratio': 0.40,
    ),
    'md': (
        'size': 32px,
        'font': 13px,
        'radius': $md-radius,
        'ratio': 0.40,
    ),
    'lg': (
        'size': 36px,
        'font': 15px,
        'radius': $lg-radius,
        'ratio': 0.40,
    ),
);

$colors: (
    'primary': (
        'base': $color-primary,
        'light': $color-primary-light,
        'dark': $color-primary-dark
    ),
    'secondary': (
        'base': $color-secondary,
        'light': $color-secondary-light,
        'dark': $color-secondary-dark
    ),
    'info': (
        'base': $color-info,
        'light': $color-info-light,
        'dark': $color-info-dark
    ),
    'success': (
        'base': $color-success,
        'light': $color-success-light,
        'dark': $color-success-dark
    ),
    'warning': (
        'base': $color-warning,
        'light': $color-warning-light,
        'dark': $color-warning-dark
    ),
    'danger': (
        'base': $color-danger,
        'light': $color-danger-light,
        'dark': $color-danger-dark
    ),
) !default;


@import "~@kizmann/nano-ui/nano/root/vars";
