$color-white:           #ffffff;
$color-black:           #141925;

$color-light:           #ffffff;
$color-black:            #263657;

$color-gray-05:         mix($color-black, $color-light, 0.05 * 100%);
$color-gray-10:         mix($color-black, $color-light, 0.10 * 100%);
$color-gray-15:         mix($color-black, $color-light, 0.15 * 100%);
$color-gray-20:         mix($color-black, $color-light, 0.20 * 100%);
$color-gray-25:         mix($color-black, $color-light, 0.25 * 100%);
$color-gray-30:         mix($color-black, $color-light, 0.30 * 100%);
$color-gray-35:         mix($color-black, $color-light, 0.35 * 100%);
$color-gray-40:         mix($color-black, $color-light, 0.40 * 100%);
$color-gray-45:         mix($color-black, $color-light, 0.45 * 100%);
$color-gray-50:         mix($color-black, $color-light, 0.50 * 100%);
$color-gray-55:         mix($color-black, $color-light, 0.55 * 100%);
$color-gray-60:         mix($color-black, $color-light, 0.60 * 100%);
$color-gray-65:         mix($color-black, $color-light, 0.65 * 100%);
$color-gray-70:         mix($color-black, $color-light, 0.70 * 100%);
$color-gray-75:         mix($color-black, $color-light, 0.75 * 100%);
$color-gray-80:         mix($color-black, $color-light, 0.80 * 100%);
$color-gray-85:         mix($color-black, $color-light, 0.85 * 100%);
$color-gray-90:         mix($color-black, $color-light, 0.90 * 100%);
$color-gray-95:         mix($color-black, $color-light, 0.95 * 100%);

$color-primary:         #1765F5;
$color-secondary:       #1765F5;

$color-success:         #18C478;
$color-warning:         #FFA13D;
$color-danger:          #F44257;
$color-info:            #62686d;

$color-background:      #FFFFFF;
