@import "~nano-ui/src/root/vars";

.kyo-backend {
    position: relative;
    width: calc(100% - 75px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    background: $color-white;
}

.kyo-backend > .kyo-header {
    flex: 0 0 auto;
    padding: 10px 30px;
}

.kyo-backend > .kyo-body {
    z-index: 100;
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;
}

.kyo-backend > .kyo-body .n-loader:after {
    background: rgba($color-white, 0.6);
}

.kyo-backend > .kyo-sidebar {
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background: $color-black;
}

.kyo-sidebar > .kyo-logo {
    flex: 0 0 auto;
}

.kyo-sidebar > .kyo-logo a {
    display: block;
    width: 55px;
    height: 55px;
    margin: 10px;
    text-align: center;
    border-radius: 16px;
    background-color: $color-primary-light;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-load('kyoto.svg', fill=$color-white);
}

.kyo-sidebar > .kyo-logo a span {
    display: none;
}

.kyo-sidebar > .kyo-logout a {
    display: block;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

.kyo-sidebar > .kyo-logout a i {
    font-size: 16px;
    color: $color-gray-75;
}

.kyo-backend > .kyo-website {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 75px;
    display: flex;
    height: 100%;
    background: $color-white;
    //background: $color-background-dark;
}

.kyo-backend > .kyo-website:after {
    content: '\00a0';
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: rgba($color-black, 0.085);
}

.kyo-backend > .kyo-website .n-resizer {
    z-index: 10;
}
.kyo-backend > .kyo-website .n-load:after {
    background-color: rgba($color-white, 0.4);
}

.kyo-backend > .kyo-website .n-draglist-item.n-current {
    background-color: rgba($color-gray-50, 0.1);
}

.kyo-backend > .kyo-website .n-draglist-item.n-selected {
    background-color: rgba($color-gray-50, 0.1);
}

.kyo-backend > .kyo-website .n-draglist-item.n-dragover {
    background-color: rgba($color-gray-50, 0.2);
}

.kyo-backend > .kyo-website .n-draglist-item.n-nodrop {
    background-color: rgba($color-danger, 0.2);
}

