@import "~@kizmann/nano-ui/src/root/vars";

.kyo-dash {
    overflow: hidden;
    position: relative;
}

.kyo-dash__popover .n-scrollbar {
    max-height: 340px;
}

.kyo-dash .n-button {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px !important;
    height: 30px !important;
    font-size: 12px;
    color: $color-white;
    background: $color-black-light;
}

.kyo-dash input {
    cursor: default;
    display: block;
    opacity: 0;
    width: 220px;
    max-width: 40px;
    height: 40px;
    border: 0;
    padding: 0 15px 0 15px;
    border-radius: $md-radius;
    color: $color-white;
    background: $color-black-light;
    transition: max-width 0.15s, opacity 0.15s;
}

.kyo-dash.is-focus input {
    opacity: 1;
    max-width: 220px;
}

.n-popover--dash {
    overflow: hidden;
    margin-top: 5px;
    color: $color-black;
    background: $color-white;
    border-radius: $md-radius;
    box-shadow: 0 1px 10px rgba($color-shadow, 0.1);
}

.n-popover--dash .n-scrollbar {
    max-height: 280px;
}

.kyo-dash__info,
.kyo-dash__empty {
    cursor: default;
    padding: 16px 30px;
    font-size: 14px;
    text-align: center;
}

.kyo-dash__item {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    padding: 15px 0;
}

.kyo-dash__item:not(:last-child) {
    border-bottom: 1px solid rgba($color-black, 0.1);
}

.kyo-dash__item.is-focus {
    background: rgba($color-primary, 0.1);
    border-bottom-color: rgba($color-black, 0.05);
}

.kyo-dash__type {
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 13px 0 7px;
    text-align: right;
    border-right: 1px solid rgba($color-black, 0.1);
}

.kyo-dash__type span {
    font-size: 13px;
    line-height: 15px;
    color: mix($color-primary, $color-gray-30, 75%);
}

.kyo-dash__item[data-type="tree"] .kyo-dash__type span {
    color: mix($color-info, $color-gray-30, 75%);
}

.kyo-dash__item[data-type="locale"] .kyo-dash__type span {
    color: mix($color-success, $color-gray-30, 75%);
}

.kyo-dash__title {
    padding: 0 7px 0 13px;
}

.kyo-dash__title h4 {
    font-size: 14px;
    line-height: 16px;
    color: $color-gray-95;
    font-weight: 500;
}

.kyo-dash__title p {
    margin-top: 5px;
    font-size: 12px;
    color: $color-gray-60;
}
