@import "~@kizmann/nano-ui/nano/root/vars";

.kyo-layout-dash {
    overflow: hidden;
    position: relative;
}

.kyo-layout-dash .n-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px !important;
    height: 30px !important;
    font-size: 10px;
    color: $color-white;
    background: $color-dark;
}

.kyo-layout-dash input {
    cursor: default;
    display: block;
    opacity: 0;
    width: 200px;
    max-width: 40px;
    height: 40px;
    border: 0;
    padding: 0 15px 0 15px;
    border-radius: 3px;
    color: $color-white;
    background: $color-dark;
    transition: max-width 0.15s, opacity 0.15s;
}

.kyo-layout-dash.is-focus input {
    opacity: 1;
    max-width: 200px;
}

.n-popover--dash {
    overflow: hidden;
    margin-top: 5px;
    color: $color-white;
    background: $color-black;
    border-radius: $lg-radius;
    box-shadow: 0 1px 10px rgba($color-shadow, 0.1);
}

.n-popover--dash .n-scrollbar {
    max-height: 280px;
}

.kyo-layout-dash__info,
.kyo-layout-dash__empty {
    cursor: default;
    padding: 16px 30px;
    font-size: 12px;
    text-align: center;
}

.kyo-layout-dash__item {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    padding: 10px 0;
}

.kyo-layout-dash__item:hover {
    background: rgba($color-dark, 0.7);
}

.kyo-layout-dash__item.is-focus {
    background: rgba($color-dark, 1.0);
}

//.kyo-layout-dash__item:not(:last-child) {
//    border-bottom: 1px solid $color-dark-light;
//}

.kyo-layout-dash__type {
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 13px 0 7px;
    text-align: right;
    border-right: 1px solid rgba($color-gray-50, 0.1);
}

.kyo-layout-dash__type span {
    font-size: 12px;
    line-height: 15px;
    color: mix($color-primary, $color-white, 85%);
}

.kyo-layout-dash__item[data-type="tree"] .kyo-layout-dash__type span {
    color: mix($color-info, $color-white, 70%);
}

.kyo-layout-dash__item[data-type="locale"] .kyo-layout-dash__type span {
    color: mix($color-success, $color-white, 70%);
}


.kyo-layout-dash__title {
    padding: 0 7px 0 13px;
}

.kyo-layout-dash__title h4 {
    font-size: 13px;
    line-height: 15px;
    color: $color-white;
    font-weight: 500;
}

.kyo-layout-dash__title p {
    margin-top: 5px;
    font-size: 11px;
    color: $color-gray-70;
}

//.kyo-layout-dash__item:before {
//    content: '\00a0';
//    position: absolute;
//    top: 50%;
//    right: 15px;
//    display: block;
//    width: 30px;
//    height: 30px;
//    text-align: center;
//    background-size: 22px 22px;
//    background-position: center;
//    background-repeat: no-repeat;
//    transform: translateY(-50%);
//    //border-radius: 16px;
//    //background-color: $color-primary-lighter;
//    //box-shadow: 2px 0 8px rgba($color-black, 0.1);
//}

[data-icon="kyoto/dash::dashboard"]:before {
    background-image: svg-load('color/icons_dashboard.svg');
}

[data-icon="kyoto/dash::users"]:before {
    background-image: svg-load('color/icons_user.svg');
}

[data-icon="kyoto/dash::pages"]:before {
    background-image: svg-load('color/icons_page.svg');
}

[data-icon="kyoto/dash::languages"]:before {
    background-image: svg-load('color/icons_language.svg');
}

[data-icon="kyoto/dash::packages"]:before {
    background-image: svg-load('color/icons_system.svg');
}

[data-icon="kyoto/dash::menus"]:before {
    background-image: svg-load('color/icons_menu.svg');
}

[data-icon="kyoto/dash::products"]:before {
    background-image: svg-load('color/icons_product.svg');
}
