@import "~nano-ui/src/root/vars";

.kyo-datatable {
    display: flex;
    flex-direction: column;
}

.kyo-datatable .n-resizer {
    border-radius: 500px;
}

.kyo-datatable .n-draggable-item.n-current:not(.n-dragover) {
    background: transparent;
}

.kyo-datatable .n-table {
    flex: 1 1 auto;
    border: none;
    border-radius: 0;
}

.kyo-datatable .n-table .n-table__head,
.kyo-datatable .n-table .n-draggable-item {
    padding-left: 30px;
    padding-right: 30px;
}

.kyo-datatable .n-table .n-table__head {
    border-bottom: 1px solid $--color-gray-10;
}

.kyo-datatable .n-table .n-table-column {
    border-left: none;
}

.kyo-datatable .n-table .n-table-column:last-child {
    border-right: none;
}

.kyo-datatable .n-table .n-table-column .n-table-column__filter > div {
    background: $--color-gray-15;
}

.kyo-datatable .n-paginator {
    flex: 0 0 auto;
    padding: 0 30px;
    height: 55px;
    color: $--color-black;
    border-top: 1px solid $--color-gray-10;
}
