@import "~@kizmann/nano-ui/src/root/vars";

.kyo-datatable {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    background: $color-white;
}

.kyo-datatable-side__item {
    padding: 18px 20px;
}

.kyo-datatable-side__item:not(:last-child) {
    border-bottom: 1px solid $color-gray-10;
}

.kyo-datatable-side__head {
    margin-bottom: 15px;
}

.kyo-datatable-side__head h6 {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-gray-40;
}

.kyo-datatable-count {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include NTransButton();
}

.kyo-datatable-count__text {
    overflow: hidden;
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kyo-datatable-count__copy,
.kyo-datatable-count__delete {
    flex: 0 0 auto;
    margin-left: 5px;
}

.kyo-datatable-action > *:not(:first-child) {
    margin-top: 5px;
}

.kyo-datatable-action .n-button {
    width: 100%;
    justify-content: flex-start;
}

.kyo-datatable-info {
    margin-bottom: 20px;
}

.kyo-datatable-info h5 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.kyo-datatable-info .n-info {
    border: none;
    border-radius: 0;
}

.kyo-datatable-info .n-info__body {
    padding: 0 !important;
}

.kyo-datatable__body {
    flex: 1 1 auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.kyo-datatable__side {
    position: relative;
    flex: 0 0 auto !important;
    width: 320px;
    background: $color-gray-05;
    border-left: 1px solid $color-gray-10;
}

.kyo-datatable__side > .n-scrollbar {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.kyo-datatable .n-table {
    flex: 1 1 auto;
    width: 100%;
    border: none;
    border-radius: 0;
}

.kyo-datatable .n-table__header,
.kyo-datatable .n-draglist-item {
    padding-left: 30px;
    padding-right: 30px;
}

// .kyo-datatable .n-table .n-table__head {
//     border-bottom: 1px solid $color-gray-10;
// }

.kyo-datatable .n-table-column {
    border-left: none;
    border-right: none;
}

// .kyo-datatable .n-table .n-table-column .n-table-column__filter > div {
//     background: $color-gray-15;
// }

.kyo-datatable .n-paginator {
    flex: 0 0 auto;
    padding: 0 30px;
    height: 55px;
    color: $color-black;
    border-top: 1px solid $color-gray-10;
}
