@import "~nano-ui/src/root/vars";

[v-cloak] {
    display: none;
}

::selection {
    background: rgba($color-primary, 0.15);
}

* {
    outline: none !important;
}

html, body {
    font-size: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $color-black;
    background-color: $--color-background;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

div, span, a {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $--color-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 3.2rem
}

h2 {
    font-size: 2.4rem
}

h3 {
    font-size: 1.8rem
}

h4 {
    font-size: 1.3rem
}

h5 {
    font-size: 1.0rem
}

h6 {
    font-size: 0.9rem
}

p {
    color: $--color-black;
    font-size: 1.0rem;
}

th {
    font-weight: normal;
}

.text--primary {
    color: $--color-primary;
}

.text--secondary {
    color: $--color-secondary;
}

.text--success {
    color: $--color-success;
}

.text--warning {
    color: $--color-warning;
}

.text--danger {
    color: $--color-danger;
}

.text--info {
    color: $--color-info;
}

.info {
    padding-top: 5px;
    font-size: 13px;
    color: $--color-gray-60;
}

.full-height {
    position: relative;
    min-height: 100%;
}

.full-height--fixed {
    height: 100%;
}

.full-height-child,
.auto-height-child {
    display: flex;
    flex-direction: column;
}

.full-height-child > * {
    width: 100%;
    min-height: 0 !important;
    flex: 1 0 auto !important;
}

.auto-height-child > * {
    width: 100%;
    max-height: 100% !important;
    min-height: 0 !important;
    flex: 1 1 auto !important;
}

.n-popover.n-popover--custom .n-tabs-item {
    padding: 0 20px 20px;
}

.n-form-group {
    margin-bottom: 0 !important;
}

.n-form-group__legend {
    margin-bottom: 10px;
}

.n-form-group__legend .n-form-group__label-text {
    font-weight: bold !important;
}

.n-form-item {
    margin-bottom: 28px;
}
