@import "~@kizmann/nano-ui/src/root/vars";

.kyo-filterbar {
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: -5px;
}

.kyo-filterbar .kyo-filterbar__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    border-bottom: 1px solid $color-gray-10;
}
