@import "~nano-ui/src/root/vars";

.n-modal.n-modal--media .n-modal__wrap {
    display: flex;
    flex-direction: row;
}

.n-modal.n-modal--media .n-modal__frame {
    overflow: hidden;
}

.kyo-media-grid {
    flex: 1 1 auto;
    box-shadow: 0 0 3px rgba($color-black, 0.15);
}

.kyo-media-list {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 340px;
}

.kyo-media-list:before {
    content: '\00a0';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: rgba($color-black, 0.05);
}

.kyo-media-list .n-draglist {
    flex: 1 1 auto;
    width: 100%;
}

.kyo-media-list__apply {
    flex: 0 0 auto;
    width: 100%;
}

.kyo-media-list__apply .n-button {
    border-radius: 0 !important;
    height: 55px;
}

.n-modal.n-modal--media .kyo-filterbar__inner {
    height: 75px
}

.kyo-media-list-item {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 40px 10px 120px;
    border-bottom: 1px solid $color-gray-10;
}

.kyo-media-list-item.kyo-media-list-item--off {
    opacity: 0.5;
}

.kyo-media-list-item__icon,
.kyo-media-list-item__image {
    flex: 0 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100px;
    background: rgba($color-black, 0.1);
}

.kyo-media-list-item__image img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kyo-media-list-item__icon:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-load('media_file.svg');
}

.kyo-media-list-item__title {
    overflow: hidden;
    flex: 0 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kyo-media-list-item__meta {
    overflow: hidden;
    flex: 0 0 auto;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-gray-60;
}


.kyo-media-list-item__delete {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 7px;
    display: none;
    transform: translateY(-50%);
}

.kyo-media-list-item:hover .kyo-media-list-item__delete {
    display: flex;
}

.kyo-media-grid-item__image {
    position: relative;
    flex: 0 0 auto;
    background: $color-gray-15;
}

.kyo-media-grid-item__image:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
}

.kyo-media-list-item__image img,
.kyo-media-grid-item__image img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kyo-media-grid-item__icon {
    position: relative;
    flex: 0 0 auto;
}

.kyo-media-grid-item__icon:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-load('media_file.svg');
}

.kyo-media-list-item__icon span,
.kyo-media-grid-item__icon span {
    position: absolute;
    top: 55%;
    left: 50%;
    display: inline-block;
    color: $color-white;
    transform: translate(-50%, -50%);
}

.kyo-media-list-item__icon[data-type="system/folder"]:before,
.kyo-media-grid-item__icon[data-type="system/folder"]:before {
    background-image: svg-load('media_folder.svg');
}

.kyo-media-list-item__icon[data-type="system/above"]:before,
.kyo-media-grid-item__icon[data-type="system/above"]:before {
    background-image: svg-load('media_above.svg');
}

.kyo-media-grid-item__title {
    overflow: hidden;
    flex: 0 0 auto;
    padding: 10px 10px 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kyo-media-grid-item__meta {
    overflow: hidden;
    flex: 0 0 auto;
    padding: 0 10px 5px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-gray-60;
}
