@import "~nano-ui/src/root/vars";

.kyo-medias {
    flex: 1 0 auto;
}

.kyo-medias .n-draggrid-item.n-selected {
    border-color: $color-primary;
}

.kyo-medias .n-draggrid-item.n-dragover {
    background-color: rgba($color-gray-50, 0.2);
}

.kyo-medias .n-draggrid-item.n-nodrop {
    background-color: rgba($color-danger, 0.2);
}

.kyo-medias .n-draggrid-item.n-selected.n-nodrop {
    border-color: $color-danger;
}

.kyo-medias .n-scrollbar-content {
    padding: 20px;
}

.kyo-medias .n-draggrid-item {
    overflow: hidden;
    float: left;
    width: 160px;
    margin: 10px;
    border-radius: 7px;
    border: 2px solid transparent;
}

.kyo-medias .n-draggrid-item .n-draggrid-item__select {
    margin: 0 auto 10px;
}

.kyo-media-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
}

.kyo-media-item__image {
    position: relative;
    flex: 0 0 auto;
    background: $color-gray-15;
}

.kyo-media-item__image:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
}

.kyo-media-item__image img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kyo-media-item__icon {
    position: relative;
    flex: 0 0 auto;
}

.kyo-media-item__icon:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-load('media_file.svg');
}

.kyo-media-item__icon[data-type="system/folder"]:before  {
    background-image: svg-load('media_folder.svg');
}

.kyo-media-item__icon[data-type="system/above"]:before  {
    background-image: svg-load('media_above.svg');
}

.kyo-media-item__title {
    overflow: hidden;
    flex: 0 0 auto;
    padding: 10px 10px 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kyo-media-item__meta {
    overflow: hidden;
    flex: 0 0 auto;
    padding: 0 10px 5px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-gray-60;
}
