@import "~@kizmann/nano-ui/src/root/vars";

.kyo-menu {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
}

.kyo-menu li {
    padding: 0;
}

.kyo-menu li:not(:first-child) {
    margin-left: 5px;
}

.kyo-menu li a {
    position: relative;
    color: rgba($color-white, 0.6);
    padding: 8px 12px;
    border-radius: $md-radius;
    transition: background 0.1s, color 0.1s;
}

.kyo-menu li:hover a,
.kyo-menu li a.n-open {
    color: rgba($color-white, 0.8);
}

.kyo-menu li.is-loose-active a {
    color: $color-white;
    background-color: rgba($color-white, 0.15);
}

.kyo-menu__list li a {
    display: block;
    padding: 6px 14px;
    color: rgba($color-black, 0.8);
    transition: background 0.1s, color 0.1s;
}

.kyo-menu__list li a:hover {
    background: rgba($color-black, 0.1);
}

.kyo-menu__list li a:first-child {
    padding-top: 8px;
}

.kyo-menu__list li a:last-child {
    padding-bottom: 8px;
}

.kyo-menu__list li.is-loose-active a {
    color: $color-primary;
}
