@import "~@kizmann/nano-ui/src/root/vars";

.kyo-search {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-radius: $md-radius;
    background-color: rgba($color-gray-35, 0.1);
    padding: 0 4px;
}

.kyo-search__input {
    flex: 1 1 auto;
    margin-right: 5px;
}

.kyo-search__input input {
    padding-left: 35px !important;
}

.kyo-search__input .n-input {
    border: none;
    background: transparent;
}

.kyo-search__input .n-button {
    cursor: default;
}

.kyo-search__input .n-input .n-button--input {
    color: $color-gray-40 !important;
}

.kyo-search__clear .n-button {
    color: $color-gray-40;
}

.kyo-search__clear .n-button:hover {
    color: $color-gray-60 !important;
    background-color: rgba($color-black, 0.15);
}

.kyo-search__clear .n-button.n-disabled {
    opacity: 0;
}


