@import "~nano-ui/src/root/vars";

.kyo-titlebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.kyo-titlebar__back {
    flex: 0 0 auto;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid $--color-gray-10;
}

.kyo-titlebar__back i {
    margin-right: 5px;
}

.kyo-titlebar__title {
    flex: 0 0 auto;
    margin-right: 20px;
}

.kyo-titlebar__title h1 {
    font-size: 30px;
}

.kyo-titlebar__search {
    flex: 0 0 auto;
}

.kyo-titlebar__spacer {
    flex: 1 1 auto;
    min-width: 20px;
}

.kyo-titlebar__description {
    flex: 0 0 auto;
}

.kyo-titlebar__description .n-button {
    color: $--color-black !important;
    padding: 8px 10px;
}

.kyo-titlebar__description .n-button .n-icon {
    color: $--color-gray-70 !important;
}

.kyo-titlebar__delete {
    flex: 0 0 auto;
    margin-left: 15px;
}

.kyo-titlebar__action {
    flex: 0 0 auto;
    margin-left: 15px;
}


/**
 * Search
 */

.kyo-titlebar-search {
    display: flex;
    flex-direction: row;
}

.kyo-titlebar-search__input {
    margin-right: 5px;
}

.kyo-titlebar-search__input .n-input {
    border: none;
    background: transparent;
}

.kyo-titlebar-search__input .n-button.n-button--default {
    cursor: default;
    color: $--color-gray-40;
    border: none;
    background: transparent;
}

.kyo-titlebar-search__clear .n-button.n-button--default {
    color: $--color-gray-40;
    border: none;
    background: transparent;
}

.kyo-titlebar-search__clear .n-button__wrapper.n-disabled .n-button {
    opacity: 0;
}


