@import "~@kizmann/nano-ui/nano/root/vars";

.n-modal.n-modal--video .n-modal__wrap {
    padding: 0;
}

.n-modal.n-modal--video .n-modal__frame {
    overflow: hidden;
    background: $color-white;
    border-radius: $lg-radius;
}

.kyo-video-preview {
    position: relative;
    background: $color-black;
}

.kyo-video-preview:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.33%;
}

.kyo-video-preview iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.kyo-video-text {
    text-align: center;
    color: $color-gray-40;
    padding: 20px;
}
