@import "~@kizmann/nano-ui/src/root/vars";

.kyo-layout-website {
    overflow: hidden;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.kyo-layout-website .n-draglist-item__element {
    overflow: hidden;
}

.kyo-layout-website__header {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kyo-layout-website__search,
.kyo-layout-website__action {
    position: relative;
    width: 100%;
    background: $color-gray-05;
    border-bottom: 1px solid $color-gray-10;
}

.kyo-layout-website__search i {
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    width: 28px;
    height: 28px;
    margin-top: -10px;
    line-height: 20px;
    text-align: center;
    color: $color-gray-60;
}

.kyo-layout-website__search input {
    appearance: none;
    display: block;
    width: 100%;
    height: 56px;
    line-height: 36px;
    padding: 10px 10px 10px 50px;
    border: none;
    background: transparent;
}

.kyo-layout-website__action {
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
}

.kyo-layout-website__action > * {
    flex: 0 0 auto;
}

.kyo-layout-website__action > *:not(:first-child) {
    margin-left: 5px;
}

.kyo-layout-website__action > .spacer {
    flex: 1 1 auto;
    min-width: auto;
}

.kyo-layout-website__action .n-button {
    color: $color-gray-80;
    background: $color-gray-10;
}

.kyo-layout-website__action .n-button:hover {
    background: $color-gray-15;
    //box-shadow: 0 0 3px rgba($color-shadow, 0.1);
}

.kyo-layout-website__body {
    flex: 1 1 auto;
    width: 100%;
}

//.kyo-layout-website {
//    order: 10;
//    overflow: hidden;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    flex-direction: column;
//}
//
//.kyo-layout-website__header {
//    position: relative;
//    flex: 0 0 auto;
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    background: $color-white;
//    box-shadow: 0 0 6px rgba($color-black, 0.15);
//}
//
//.kyo-layout-website__header:after {
//    content: '\00a0';
//    position: absolute;
//    bottom: -1px;
//    left: 0;
//    display: block;
//    width: 100%;
//    height: 1px;
//    background: rgba($color-black, 0.055);
//}
//
//.kyo-layout-website__header .n-input {
//    border: 0;
//    height: 74px;
//    padding: 0 15px 0 30px;
//    background: transparent;
//}
//
//.kyo-layout-website__header .n-button {
//    margin-right: 15px
//}
//
//.kyo-layout-website__footer {
//    flex: 0 0 auto;
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    padding: 0 10px;
//    height: 55px;
//    //border-top: 1px solid $color-background-dark;
//}
//
//.kyo-layout-website__body {
//    flex: 1 1 auto;
//}

.kyo-layout-website__body .n-draglist-item {
    padding: 0 15px;
}

.kyo-website-node {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 38px;
    padding-left: 30px;
}

.kyo-website-node > div:first-child {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 38px;
}

.kyo-website-node > div:not(:first-child) {
    display: none;
}

.n-draglist-item:not(.n-selected):hover .kyo-website-node > div:not(:first-child) {
    display: block;
}

.kyo-website-node .n-button {
    margin-left: 6px;
}

.kyo-website-node:before {
    content: '\00a0';
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    height: 26px;
    transform: translateY(-50%);
    background-size: 22px 22px;
    background-position: center center;
    background-repeat: no-repeat;
}

.kyo-website-node[data-type="kyoto/backend::admin"]:before {
    background-image: svg-load('color/icons_system-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/menu::domain"]:before {
    background-image: svg-load('color/icons_domain-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/page::page"]:before {
    background-image: svg-load('color/icons_page-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/user::login"]:before {
    background-image: svg-load('color/icons_user-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/user::logout"]:before {
    background-image: svg-load('color/icons_user-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/menu::vue"]:before {
    background-image: svg-load('color/icons_vue-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/menu::menu"]:before {
    background-image: svg-load('color/icons_menu-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/menu::redirect"]:before {
    background-image: svg-load('color/icons_redirect-dash.svg', fill=$color-primary);
}

.kyo-website-node[data-type="kyoto/shop::product"]:before {
    background-image: svg-load('color/icons_product-dash.svg', fill=$color-primary);
}
