@import "~nano-ui/src/root/vars";

.kyo-layout-website {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.kyo-layout-website__header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0 10px;
    height: 75px;
    background: $color-background-dark;
}

.kyo-layout-website__header .n-input {
    border: 0;
    height: 74px;
    color: $color-white;
    background: transparent;
}

.kyo-layout-website__footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    height: 55px;
    //border-top: 1px solid $color-background-dark;
}

.kyo-layout-website__body {
    flex: 1 1 auto;
}

.kyo-website-node {
    position: relative;
    padding-left: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}

.kyo-website-node:before {
    content: '\00a0';
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 22px;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: $color-primary;
    transform: translateY(-50%);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
}

.kyo-website-node[data-type="kyoto/backend::admin"]:before {
    background-image: svg-load('icon_system.svg');
}

.kyo-website-node[data-type="kyoto/menu::domain"]:before {
    background-image: svg-load('icon_domain.svg');
}

.kyo-website-node[data-type="kyoto/page::page"]:before {
    background-image: svg-load('icon_page.svg');
}

.kyo-website-node[data-type="kyoto/user::login"]:before {
    background-image: svg-load('icon_user.svg');
}

.kyo-website-node[data-type="kyoto/user::logout"]:before {
    background-image: svg-load('icon_user.svg');
}

.kyo-website-node[data-type="kyoto/menu::vue"]:before {
    background-image: svg-load('icon_vue.svg');
}

.kyo-website-node[data-type="kyoto/menu::redirect"]:before {
    background-image: svg-load('icon_redirect.svg', fill=$color-primary);
}
